.app-main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.app-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-submit {
    border-radius: 10px;
    background: transparent;
    border: 1px solid rgb(70,70,70);
    cursor: pointer;
}