.textbox {
    background: rgb(235, 235, 235);
    padding: 20px;
    outline: none;
    border-radius: 10px;
    border: none;
    resize: none;
    font-size: 1.1rem;
    width: 50vw;
    max-width: 700px;
    height: 150px;
    box-sizing: border-box;
    font-family: "Open Sans", "Segoe UI", Tahoma, sans-serif;
}